h1{
    color: blue;
    font-family: Arial, Verdana, sans-serif;
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
p{
    color: green;
    font-family: "Times New Roman", Times, serif;
    line-height: 15px;
    font-style: italic;
    letter-spacing: 5px;
}
a{
    text-decoration: none;
}